@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');


:root {
    --primary-color: #14726c;
    --secondary-color: #f2a341;
    --accent1-color: #468faf;
    --accent2-color: #3a1d2a;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --nav-background-color: #1d1d1d;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #f2a341;
    --nav-hover-background-color: #3a3a3a;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bolder;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font);
}

p{
  font-family: var(--paragraph-font);
}

.hero {
    position: relative;
  }
  
  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 20px
  }
  
  .hero h1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
  }
  
  .hero article {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .hero article img {
    float: right;
    margin-left: 10px;
  }
  

  a {
    text-decoration: none;
  }

 