* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


nav a {
    color: white;
    display: block;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: steelblue;
}

img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

main {
    grid-column: 2/3;
    margin: 14px;
}

main h1{
    display: inline-block;
}

aside {
    width: 20rem;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0 , 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 270px;
    height: 270px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 5px 5px;
}

p { padding: 0; }

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    margin-top: 35px;
    border: 1px solid rgba( 0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;

}

ul  {
   width: 240px;
   border: solid gray;
   border-radius: 10px;
} 


aside h2 {
    position: absolute;
    top: 30px;
    left: 90px;
}

header, footer {
    max-width: 840px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.grid {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 840px;
}

hr {
    margin-bottom: 5px;
    border: 1px solid steelblue;
}

a:hover{
    color: #09ffff;
}

